<header class="bg-orange-100 p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <div class="logo">
      <img src="/images/logo.png" alt="Logo" class="w-12 h-12">
    </div>
    <div class="search-bar flex-1 mx-8">
      <input type="text" placeholder="What are you looking for?" class="w-full p-2 border rounded-lg">
    </div>
    <div class="flex items-center space-x-4">
      <a href="/login" class="text-gray-700">Login</a>
      <a href="/cart" class="text-gray-700">
        <i class="fas fa-heart"></i>
      </a>
    </div>
  </div>
</header>
